
.imagen-principal {
    width: 100%;
    height: 320px;
}

.imagen-principal img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.background {
    background-color: #E4DCD2;
}
.titulo-proyecto {
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px
}

.titulo-proyecto h2 {
    display: flex;
    justify-content: center;
    color: #7C3506;
    font-size: 40px;
}
.imagen-sitio {
  max-width: 100%;
  max-height: 500px;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 3px solid #000;
  margin: 60px;
  margin-left:200px;
  margin-right: 200px;
}

.imagen-sitio img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translateY(-70px);
}

@media all and (max-width: 650px){
  .titulo-proyecto{
    padding: 0px;
  }
  .titulo-proyecto h2{
    font-size: 20px;
  }
  .imagen-sitio{
    margin: 30px;
  }
  .imagen-sitio img {
  transform: translateY(0px);
}
}