.integrantes-container {
    background-color: #FFFBF6;
    padding: 20px;
    border-radius: 10px;
    margin:20px auto;
    width: 850px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.integrantes-container h2 {
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: #7C3506;
    margin-bottom: 30px;
}

.integrantes-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.integrante {
    text-align: center;
    margin: 15px;
    width: 200px;
}

.integrante img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #844c31;
}

.integrante p {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 5px;
}

.integrante a {
    background-color: #844c31;
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
}
@media (max-width: 768px) {
    .integrantes-container{
      width: 350px;

    }  
    .integrantes-grid {
        flex-direction: column;
    }

    .integrante {
      margin:10px; 
      width: 88%;
      margin-right: 10px;
    }
    .integrante img{
      width: 120px;
      height: 120px;

    }
}
