* {
  font-family: "Lora", sans-serif;
}
header {
  width: 100%;
  margin: 0px;
  position: relative;
  height: auto;
  background-color: #fffbf6;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  /*establece color de fondo de la linea de los botones*/
  overflow: hidden;
  padding: 10px;
  width: 80%;
}
input {
  /*no muestra el botón de menu */
  display: none;
}
nav label {
  /*no muestra la etiqueta ☰ */
  display: none;
  float: right;
}
ul {
  /*muestra los botones con la disposición horizontal para notebook */
  display: flex;
  justify-content: space-around;
  margin-top: 0;
  padding: 0;
}

@media all and (max-width: 900px) {
  /*cuando el dispositivo es como máximo de 900px*/

  input:checked ~ ul {
    /*muestra todas el contenido de todas las etiquetas ul */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 1;
    width: 100%;
    background-color: #fffbf6;
  }

  li {
    /*elimina el margen  de cada botón */
    margin: 0px;
    text-align: left;
  }

  nav label {
    /* dibuja la etiqueta ☰  con formato botón */
    box-sizing: border-box;
    display: block;
    font-weight: bold;
    font-size: 2.5rem;
    padding-right: 3%;
  }

  nav {
    padding: 0;
  }

  ul {
    display: none;
    position: absolute;
    top: 100%; /* Coloca el ul justo debajo del nav */
  }
}

.header-title {
  color: #7c3506;
  margin-top: 1%;
}
